body {
  font-family: Arial, sans-serif;
  color: #60656f;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 0.025rem;
}

.thumbnail-container {
  position: absolute;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%); /* Centra la miniatura horizontalmente */
  top: -3rem;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 2rem 2rem -2rem rgba(0, 0, 0, 0.5),
    0 0rem 1.5rem 0 rgba(0, 0, 0, 0.2);
}

#thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: spin 2.5s linear infinite;
}

.player {
  display: flex;
  flex-direction: column; /* Cambiado para apilar la miniatura y el panel */
  align-items: center; /* Centra horizontalmente el contenido */
  overflow: hidden;
  border-radius: 1rem;
  width: 36rem;
  height: 14rem; /* Ajusta el alto total */
  box-shadow: 0 2rem 2rem -2rem rgba(black, 0.5),
    0 1rem 4rem -1rem rgba(black, 0.2);
}

.panel {
  margin-top: 6rem; /* Mueve el panel debajo de la miniatura */
  display: flex;
  flex-direction: column; /* Alinea el contenido de manera vertical */
  justify-content: center; /* Centra el contenido verticalmente */
  height: 6rem; /* Ajusta la altura del panel */
  background: white;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

#info {
  text-align: center; /* Centra el texto */
}

#title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

#artist {
  font-size: 0.8rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
